In [13]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh.kabir\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh.kabir\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver=webdriver.Chrome(r"C:\Users\shaikh.kabir\Downloads\chromedriver_win32zip.exe")

In [16]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [17]:
driver.get("https://www.naukri.com/")

In [6]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys('Data analyst')

In [7]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('banglore')

In [8]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [11]:
print(len(job_title),len(job_location),len(company_name),(experience_required))

10 10 10 ['3-6 Yrs', '2-4 Yrs', '3-8 Yrs', '3-5 Yrs', '0-5 Yrs', '10-14 Yrs', '6-8 Yrs', '6-9 Yrs', '5-7 Yrs', '2-7 Yrs']

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'experience':})

,Title,location,company_name,experience
0,Data Analyst/Senior Analyst - R/SQL/Python,"Temp. WFH - Kolkata, Mumbai, Hyderabad/Secunde...",The Nikharv Consultancy,3-6 Yrs
1,Data Analyst,Bangalore/Bengaluru,Target,2-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Gurgaon/Gurugram, Bangalore/Bengaluru",Aspyra Hr Services,3-8 Yrs
3,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
4,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - New Delhi, Bangalore/Bengaluru, Mumba...",Sejal Consulting Hub,0-5 Yrs
5,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
6,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,6-8 Yrs
7,Sr Data Analyst,Hybrid - Bangalore/Bengaluru,Amolitalents,6-9 Yrs
8,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich And Enlight Business Consulting,5-7 Yrs
9,Manager/Senior Manager - Data Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Huquo Consulting Pvt. Ltd,2-7 Yrs

In [18]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh.kabir\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh.kabir\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [19]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [21]:
driver=webdriver.Chrome(r"C:\Users\shaikh.kabir\Downloads\chromedriver_win32zip.exe")

In [22]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [23]:
driver.get("https://www.naukri.com/")

In [24]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys('Data scientist')

In [25]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('banglore')

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [28]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [29]:
print(len(job_title),len(job_location),len(company_name),(experience_required))

10 10 10 ['9-14 Yrs', '7-12 Yrs', '6-8 Yrs', '2-4 Yrs', '8-12 Yrs', '8-12 Yrs', '2-6 Yrs', '10-14 Yrs', '2-7 Yrs', '7-12 Yrs']

In [32]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'experience':experience_required})
df

,Title,location,company_name,experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Hyderabad/Secunderabad, Pune, Chen...",Tech Mahindra,7-12 Yrs
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
3,Data Science Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,2-4 Yrs
4,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
5,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,8-12 Yrs
6,Data Scientist,Bangalore/Bengaluru,ANZ,2-6 Yrs
7,Staff Data Analyst,Bangalore/Bengaluru,Walmart,10-14 Yrs
8,Data Scientist,Bangalore/Bengaluru,ANZ,2-7 Yrs
9,Data Scientist Knowledge graph,"Hybrid - Pune, Bangalore/Bengaluru",Capco,7-12 Yrs

In [53]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh.kabir\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh.kabir\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [54]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [55]:
driver=webdriver.Chrome(r"C:\Users\shaikh.kabir\Downloads\chromedriver_win32zip.exe")

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https://www.naukri.com/")

In [58]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input" )
designation.send_keys('Data scientist')

In [59]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [60]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [61]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [62]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [63]:
print(len(job_title),len(job_location),len(company_name),(experience_required))

10 10 10 ['9-14 Yrs', '7-12 Yrs', '8-12 Yrs', '8-12 Yrs', '10-16 Yrs', '8-13 Yrs', '3-5 Yrs', '0-3 Yrs', '6-8 Yrs', '1-2 Yrs']

In [64]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'location':job_location,'company_name':company_name,'experience':experience_required})
df

,Title,location,company_name,experience
0,Data Scientist,"Noida, Kolkata, Mumbai, Hyderabad/Secunderabad...",Capgemini,9-14 Yrs
1,Data Scientist,"Temp. WFH - Delhi / NCR, Hyderabad/Secunderaba...",Tech Mahindra,7-12 Yrs
2,Lead Data Scientist,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",Birlasoft,8-12 Yrs
3,Data Scientist,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",Birlasoft,8-12 Yrs
4,Analytic Delivery Lead,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Gharondaa Advisors,10-16 Yrs
5,Job | Hiring For AVP/ VP | Senior Data Scienti...,"Hybrid - Pune, Gurgaon/Gurugram, Bangalore/Ben...",Citicorp Finance,8-13 Yrs
6,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Delhi / NCR, Gurgaon/Gurugram, Bangal...",PayU,3-5 Yrs
7,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
8,Data Scientist,"Temp. WFH - Noida, Pune, Bangalore/Bengaluru",Infogain,6-8 Yrs
9,Data Scientist (HR),"Mumbai, New Delhi, Hyderabad/Secunderabad",NCR Corporation,1-2 Yrs

In [66]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh.kabir\anaconda\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh.kabir\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh.kabir\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [67]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [68]:
driver=webdriver.Chrome(r"C:\Users\shaikh.kabir\Downloads\chromedriver_win32zip.exe")

In [70]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [71]:
driver.get("https://www.flipkart.com")